.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
    height: 100vh; /* ocupa toda la pantalla */
    flex-direction: column;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;      /* Para que los elementos queden en columna */
    justify-content: center;     /* Centra verticalmente */
    align-items: center;

    flex: 1 1 48%; /* 2 tarjetas por fila en pantallas grandes */
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.card #pieChart{
    width: 40% !important;
    height: auto !important;
    max-width: 100%;
}

.totals {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
}

.total-card {
    flex: 1;
    background: #fff;
    padding: 10px 20px;
    border-left: 5px solid #007bff;
    border-radius: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background: #f0f0f0;
}