.main-content{
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    margin: 0;
    height: 100%;
}

.form-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    max-width: 100%;
    width: 80%;
}

h2 {
    text-align: left;
    color: #333;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    margin-bottom: 0.4rem;
    color: #444;
}

input,
select,
textarea {
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.95rem;
    transition: border 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #3b82f6;
    outline: none;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

.full-width {
    grid-column: 1 / -1;
}

button {
    margin-top: 1.5rem;
    padding: 0.9rem;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2563eb;
}

.btn-guardar{
    width: 10rem;
}

#archivo {
    width: 25rem;
}

/* Responsivo: tablets */
@media (max-width: 1024px) {
    .form-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* Responsivo: móviles */
@media (max-width: 640px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}