.form-container {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    max-width: 100%;
    width: 80%;
    background: white;
    max-height: 700px;
    overflow-y: auto;
}

h2 {
    text-align: left;
    color: #333;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.4rem;
    color: #444;
    font-weight: 600;
}


input,
select,
textarea {
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.95rem;
    transition: border 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #3b82f6;
    outline: none;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

button {
    margin-top: 1.5rem;
    padding: 0.9rem;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: bold;
    background-color: #3b82f6;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2563eb;
}

.btn-save {
    width: 10rem;
    grid-column: 1 / -1;
    justify-self: end;
}


#archivo {
    width: 25rem;
    border: 0;
}

.option-radio label{
    margin-bottom: 0.4rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.option-radio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.checkbox-container {
    grid-column: 1 / 3;
}

.option-checkbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.option-checkbox label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 100;
}

.text-area {
    grid-column: 1 / -1;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 0.3em;
}

.input-error {
    border: 2px solid red;
}

